{% extends 'pages/base.html' %}
{% block title %}  {% endblock %}
{% block header_title %} Contactanos: {% endblock %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-lg-4 ms-auto">
<p class="lead">Email: {{ "ejemplo@eafit.edu.co"}}</p>
</div>
<div class="col-lg-4 me-auto">
<p class="lead">Telefono: {{ telefono }}</p>
</div>
<div class="col-lg-4 me-auto">
<p class="lead">Address: {{ " Carrera 49, Cl. 7 Sur #50, Medellín, Antioquia"}}</p>

</div>
</div>
{% endblock %}